<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <properties uri="file://database.config"/>
  <settings>
    <setting useStatementNamespaces="${useStatementNamespaces}"/>
    <setting cacheModelsEnabled="${cacheModelsEnabled}"/>
    <setting validateSqlMap="false"/>
    <setting useReflectionOptimizer="true"/>
  </settings>
  <providers uri="assembly://MC.DAO/MC.DAO/providers.config" />
  <database>
    <provider name="${provider}"/>
    <dataSource name="iBatisNet" connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"/>
  </database>
  <sqlMaps>
    <sqlMap uri="assembly://MC.DAO/MC.DAO/Users.User_usr.xml"/>
    <sqlMap uri="assembly://MC.DAO/MC.DAO/Info.InfoType_ift.xml"/>
    <sqlMap uri="assembly://MC.DAO/MC.DAO/Info.IndexTag_itg.xml"/>
    <sqlMap uri="assembly://MC.DAO/MC.DAO/Info.Info_inf.xml"/>
    <sqlMap uri="assembly://MC.DAO/MC.DAO/Set.Page_pag.xml"/>
    <sqlMap uri="assembly://MC.DAO/MC.DAO/Set.Setting_set.xml"/>
    <sqlMap uri="assembly://MC.DAO/MC.DAO/Set.Keywords_key.xml"/>
    <sqlMap uri="assembly://MC.DAO/MC.DAO/Info.Require_req.xml"/>
    <sqlMap uri="assembly://MC.DAO/MC.DAO/Set.Link_lnk.xml"/>
  </sqlMaps>
</sqlMapConfig>
