<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="iBATIS">
      <section name="logging" type="MyBatis.Common.Logging.ConfigurationSectionHandler, MyBatis.Common"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <iBATIS>
    <logging>
      <logFactoryAdapter type="MyBatis.Common.Logging.Impl.Log4NetLoggerFA, MyBatis.Common">
        <arg key="configType" value="inline"/>
      </logFactoryAdapter>
    </logging>
  </iBATIS>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="MaximumFileSize" value="5MB"/>
      <param name="RollingStyle" value="Date"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="Error"/>
      <appender-ref ref="RollingLogFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
    <logger name="MyBatis.DataMapper.Configuration.DefaultConfigurationEngine">
      <level value="Error"/>
    </logger>
    <logger name="MyBatis.DataMapper.Data.DefaultPreparedCommand">
      <level value="Error"/>
    </logger>
    <logger name="MyBatis.DataMapper.Model.Cache.Decorators.LoggingCache">
      <level value="Error"/>
    </logger>
    <logger name="MyBatis.DataMapper.Proxy.LazyList">
      <level value="Error"/>
    </logger>
    <logger name="MyBatis.DataMapper.Proxy.LazyListGeneric">
      <level value="Error"/>
    </logger>
    <logger name="MyBatis.DataMapper.Proxy.LazyLoadInterceptor">
      <level value="Error"/>
    </logger>
    <logger name="MyBatis.DataMapper.Session.DefaultSessionFactory">
      <level value="Error"/>
    </logger>
    <logger name="MyBatis.DataMapper.Session.ISessionFactory">
      <level value="Error"/>
    </logger>
    <logger name="MyBatis.DataMapper.Session.Transaction.DefaultTransactionManager">
      <level value="Error"/>
    </logger>
    <logger name="MyBatis.DataMapper.Session.Transaction.Ado.AdoTransaction">
      <level value="Error"/>
    </logger>
    <logger name="MyBatis.DataMapper.Proxy.LazyListGenericFactory">
      <level value="Error"/>
    </logger>
    <logger name="MyBatis.Common.Utilities.ConfigWatcherHandler">
      <level value="Error"/>
    </logger>
    <logger name="MyBatis.Common.Utilities.Objects.FactoryLogAdapter">
      <level value="Error"/>
    </logger>
  </log4net>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>

  <system.web>
    <machineKey validationKey="59B1C3BDB4F5512F597734462AAFDBE58E0B567AD4458C76807374A5EDDD19F430E8A552CA7A5C979F1189313139E364B51A74A43F02D2D296DBB44E36CD8A8D"
      decryptionKey="8906869D0F198C4C024AE641EE2CEF774F429D4AD68622DE8F53B749EA139B95"
      validation="SHA1" decryption="AES" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms name="userForms" loginUrl="~/account/logon" timeout="2880" />
    </authentication>
    <customErrors mode="On" defaultRedirect="/home/error">
      <error redirect="/home/error" statusCode="404" />
    </customErrors>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
