<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <add key="provider" value="sqlServer2.0" />
  <add key="datasource" value="(local)\sql2005" />
  <add key="userid" value="sa" />
  <add key="password" value="123" />
  <add key="database" value="mcData" />
  <add key="selectKey" value="select @@IDENTITY as value" />
  <add key="directory" value="Maps" />
  <add key="useStatementNamespaces" value="false" />
  <add key="cacheModelsEnabled" value="false" />
</settings>
