<configuration>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding">
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="MC.WcfLib.Sample.Hello" behaviorConfiguration="helloServiceBehavior">
        <endpoint address="" behaviorConfiguration="webBehavior"
            binding="webHttpBinding" bindingConfiguration="webBinding" contract="MC.WcfLib.Sample.IHello">
        </endpoint>
      </service>
      <service name="MC.WcfLib.Contract.Test" behaviorConfiguration="testServiceBehavior">
        <endpoint address="" behaviorConfiguration="webBehavior"
            binding="webHttpBinding" bindingConfiguration="webBinding" contract="MC.WcfLib.Contract.ITest">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="helloServiceBehavior">
        </behavior>
        <behavior name="testServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>