#sidebar{color:#666;float:left;padding:30px 30px 10px 25px;width:185px;}
#feature{margin:0 auto;padding:10px 0px;position:relative;width:810px;height:402px;}
#feature img.featured{position:absolute;top:8px;right:0px}
#prevBtn{display:block;height:23px;right:20px;bottom:8px;margin:0;overflow:hidden;padding:0;position:absolute;text-indent:-9999px;width:30px;}
#nextBtn{display:block;height:23px;right:0px;bottom:8px;margin:0;overflow:hidden;padding:0;position:absolute;text-indent:-9999px;width:30px;}
#slider{border:#999 1px solid;}
#slider ul{list-style-type:none;margin:0;padding:0;}
#slider li{overflow:hidden;width:810px;height:402px;}
#prevBtn a{background:url(../images/uploads/featured/btn_prev.png) no-repeat 0 0;display:block;height:29px;width:30px;}
#nextBtn a{background:url(../images/uploads/featured/btn_next.png) no-repeat 0 0;display:block;height:29px;width:30px;}