html,body{font-size:12px;padding:0px;margin:0px;color:#000;background-color:#fff;background-position:0px 0px;overflow:auto;height:100%;}
*{padding:0px;margin:0px;border:0px;}
ul,ol,li{list-style:none;}
input,textarea{border:solid 1px #c1c1c1;font-size:100%;padding:3px;}
textarea{width:360px;height:90px;}
input[type="text"],input[type="password"]{width:200px;}
input[type="checkbox"],input[type="radio"]{border:0px;}
input{width:expression((this.type=="text" || this.type=="password") ? "200px" : "style");}
input{border:expression((this.type=="checkbox" || this.type=="radio") ? "0px" : "style");}
input.inputhover{border:1px solid #999;background-color:#F7F7F9;}
input[type="text"]:hover,input[type="password"]:hover{border:1px solid #999;background-color:#F7F7F9;}
textarea.inputhover{padding:3px;border:1px solid #999;background-color:#F7F7F9;}
.button{border:#ccc 1px solid;line-height:23px;width:auto!important;padding:0px 6px 0px 6px;background:url(../images/btn01.jpg) #f3f3f3 repeat-x 0px center;height:23px;color:#000;font-size:1em;overflow:visible;cursor:pointer;_line-height:19px;}
input[type=button]:hover,input[type="submit"]:hover{border:#003a7b 1px solid;line-height:23px;width:auto!important;padding:0px 6px 0px 6px;background:url(../images/btn02.jpg) #49a5d6 repeat-x 0px center;height:23px;color:#fff;font-size:1em;overflow:visible;cursor:pointer;_line-height:19px;}
input.buttonhover{border:#003a7b 1px solid;line-height:23px;width:auto!important;padding:0px 6px 0px 6px;background:url(../images/btn02.jpg) #49a5d6 repeat-x 0px center;height:23px;color:#fff;font-size:1em;overflow:visible;cursor:pointer;_line-height:19px;}
select{border:solid 1px #c1c1c1;}
.cssBtn{ background:url(../images/utbkgnd.gif) repeat-x;border:1px #4a95c9 solid;background-position:left center;font-size:12px; padding:3px 5px 0px 5px;}
.mTop20{margin-top:20px;} 
.grid th {border-bottom:2px #eee solid; line-height:30px; padding:0px 5px; font-weight:bold; text-align:left;}
.grid td {border-bottom:1px #eee solid; line-height:30px; padding:0px 5px;}
a {color:#000;font-size:12px;}
a:hover {text-decoration:none;font-size:12px;}
.left{float:left;}
.right{float:right;}
.clearfix:after{content:".";height:0;visibility:hidden;display:block;clear:both;}
.clearfix{display:inline-block;}
.clearfix{display:block;}
.clear{clear:both;}
.clear_box{height:0;visibility:hidden;display:block;clear:both;}
.field-validation-error{color:#ff0000;}
.input-validation-error{border:1px solid #ff0000;background-color:#ffeeee;}
.validation-summary-errors{font-weight:bold;color:#ff0000;}
.navapp li{float:left;}
.navapp li.cbChoose{padding-left:13px;}
.navapp li a{text-decoration:none;}
.navapp li.mbg{display:block;padding-left:16px;cursor:pointer;margin:0px 5px;}
.navapp li.add{background:url(../images/add.gif) no-repeat 0px 0px;}
.navapp li.edit{background:url(../images/edit.gif) no-repeat 0px 0px;}
.navapp li.del{background:url(../images/del.gif) no-repeat 0px 0px;}
.navapp li.update{background:url(../images/update.gif) no-repeat 0px 0px;}
.navapp li.newpage{background:url(../images/newpage.gif) no-repeat 0px 0px;}
.navapp li.nopass{background:url(../images/nopass.gif) no-repeat 0px 0px;}

.cke_button_myphoto .cke_icon{display:none!important;}
.cke_button_myphoto .cke_label{display:inline!important;}

.layout{height:100%!important}
em{font-style:normal;}
.yellow_lv{background: url(/images/icon/icon_lv.gif) no-repeat 0% 0%;display:inline-block;height:16px;line-height:12px!important;width:57px;}
.yellow_lv span{color:#91332B!important;display:block;font-family: Tahoma;font-size:9px;font-weight:bold;position:relative;left:10px;top:2px;}

.header{height:60px;background:url(../images/wave3header.jpg);}
.logo{position:relative;padding-left:120px;height:60px;background:url(../images/cshop-logo.gif) no-repeat 15px 14px;}
.logo label{position:absolute;left:84px;top:23px;}
.headerleft{margin-left:-120px;display:inline;margin:0px;}
.logininfo{text-align:right;color:#000;font-size:10px;font-family:Arial;padding:8px 10px 0px 0px;}

.navMenu-bg {background:url(../images/nav-bg.gif) left bottom no-repeat;height:28px;margin-top:9px;_margin-top:10px;}
.navMenu {display:block; padding-left:10px;}
.navMenu li { display:block; float:left; height:26px; padding:0px 15px; line-height:26px;cursor:pointer;}
.navMenu li.default {border:1px #3399cc solid; border-bottom:1px #f8fefe solid;}
.navMenu li.default a{color:#000;font-weight:bold;}
.navMenu a {text-decoration:none;color:#000;}
.navMenu a:hover {text-decoration:none;color:#666;}

.leftMenu-bg{background:url(../images/left-bg.gif) no-repeat 120px 0px;}
.leftMenu {display:block; }
.leftMenu li {display:block; line-height:25px; padding-left:20px;}
.leftMenu li.default a { text-decoration:underline;font-weight:bold;}
.leftMenu a { text-decoration:none; color:#000;}
.leftMenu a:hover { font-weight:bold;}

.sitemap { line-height:30px; text-align:right; padding-right:10px; color:#666; background:url(../images/op-bg.gif) right bottom no-repeat;}
.sitemap a { color:#666; text-decoration:none;}
.sitemap a:hover { color:#666; text-decoration:underline;}

.copyright { line-height:30px; background:url(../images/op-bg.gif) right top no-repeat; padding-right:10px; text-align:right; color:#666; font-style:italic;}

.login { height:100%;}
.login .cssTitle h1 { font-size:14px; font-weight:normal; color:#333;}
.login .cssMain { font-size:12px; padding:8px 5px;}
.login .cssLine { border-right:1px #cccccc solid;}
.login .cssLabel { text-align:right; padding-top:13px; width:80px;}
.login .cssInput { text-align:left;}
.login .cssInput input {width:140px; border:1px #ccc solid; padding:2px;}
.login .cssHelp { line-height:22px;}
.login .cssHelp a { color:#0088dd; text-decoration:none;}
.login .cssVerson { display:block; font-size:12px; font-family:Verdana Arial; padding-right:20px;}
.login .cssCheckbox { margin-left:0px; text-indent:-4px; letter-spacing:0.03em;}
#main{padding:0px 10px;}
.tablefont{background:#efefef;}
.tablefont tr{background:#CCEAF4;}
.tablefont th{font-weight:bold;height:22px;text-align:center;}
.tablefont .choose{width:40px;}
.tablefont .textleft{text-align:left;}
.tbodyfont{color:#707070;}
.tbodyfont td{background:#fff;height:22px;text-align:center;}
.ddtext{height:20px;width:40px;border:1px solid #ccc;}
.tablefont tr.alt td {background:#fff;}
.tablefont tr.over td {background:#eee;}
.tableform th{width:120px;padding:1px;background:#DBDBDB;text-align:right;}
.tableform td{background:#fff;padding:1px;}
.error{color:#FF0000;}
input.error{border:1px dotted #FF0000}
.orderoptablefont th{background:#c9c9c9;font-weight:bold;height:22px;text-align:center;}
.orderoptablefont td{height:22px;}

/*pagelist*/
.page_list_w{width:630px; margin:0 auto;}
.PageList {border:none;clear:both;margin:5px 0;}
.PageList * { font-size:12px; font-family:Tahoma; }
.PageList ul { display:inline; margin:0; padding:0; list-style:none; }
.PageList li { display:inline; margin-right:2px; }
.PageList a,.PageList a:visited { padding:1px 4px; border:1px solid #D8D9C4;color:#D8D9C4;}
.PageList a:hover,.PageList a:active { padding:1px 4px; border:1px solid #A8A879;background-color:#CCCDAA;color:#fff;}
.PageList .current { padding:1px 4px; border:1px solid #A8A879;color:#fff;background-color:#CCCDAA;}
.PageList .direct a { font-weight:bold; }
.PageList h6 { font-size:11px; display:inline; margin-right:6px; margin-left:1px; }
.PageList h6 span { padding:1px 8px; border:1px solid #D8D9C4; margin-left:-1px; color:#D8D9C4; } 

ul.pages {display:block;border:none;font-family:Tahoma;font-size:12px;margin:5px 0px;padding:5px 0px;}
ul.pages li{list-style:none;float:left;border:1px solid #ccc;text-decoration:none;margin-right:2px;padding:1px 4px;}
ul.pages li:hover {border:1px solid #003f7e;}
ul.pages li.pgEmpty {border:1px solid #eee;color:#eee;}
ul.pages li.pgCurrent {border:1px solid #003f7e;color:#000;font-weight:700;background-color:#eee;}
/*endpagelist*/

.uploadifyQueueItem {font: 11px Verdana, Geneva, sans-serif;border: 2px solid #E5E5E5;background-color: #F5F5F5;margin-top: 5px;padding: 10px;width: 350px;}
.uploadifyError {border: 2px solid #FBCBBC !important;background-color: #FDE5DD !important;}
.uploadifyQueueItem .cancel {float: right;}
.uploadifyProgress {background-color: #FFFFFF;border-top: 1px solid #808080;border-left: 1px solid #808080;border-right: 1px solid #C5C5C5;border-bottom: 1px solid #C5C5C5;margin-top: 10px;width: 100%;}
.uploadifyProgressBar {background-color: #0099FF;width: 1px;height: 3px;}
#fileQueue {overflow: auto;}
#filesUploaded li{width:160px;height:180px;padding-left:5px;float:left;text-align:center;vertical-align:middle;}
#filesUploaded li p{text-align:center;padding-top:3px;}
#filesUploaded li img{border:1px solid #ddd;padding:1px;vertical-align:middle;text-align:center;max-width:150px;max-height:150px;}