@{
    ViewBag.Title = "页面信息";
    //Layout = "~/Views/Shared/_Admin.cshtml";
    Layout = "";
}
    <script type="text/javascript">
    $(function () {
        var Page_Grid = $('#Page_Grid').treegrid({
            title: '页面信息管理', url: '@Url.Content("~/sysadmin/pageslist")', idField: 'ID_pag', treeField: 'Name_pag',
            fit: true, rownumbers: true, animate: true, border: false, //singleSelect: false,
            frozenColumns: [[{ field: 'ck', checkbox: true }, { title: '名称', field: 'Name_pag', width: 400}]],
            columns: [[{ title: '编号', field: 'Code_pag', width: 160 }, { title: '排序', field: 'Sort_pag', width: 60}]],
            onDblClickRow: function (row) {
                addTab('Page-' + row.ID_pag, '编辑页面信息-' + row.Name_pag, '@Url.Content("~/sysadmin/pagesdetail/")' + row.ID_pag, 'frame', 'icon icon-Page');
            },
            toolbar: [{
                id: 'btnAdd_pag',
                text: '添加',
                iconCls: 'application_add',
                handler: function () {
                    addTab('Page-0', '新增页面信息', 'PageDetail.aspx?id=0', 'frame', 'icon icon-Page');
                }
            }, '-', {
                id: 'btnEdit_pag',
                text: '编辑',
                iconCls: 'application_edit',
                handler: function () {
                    var rows = Page_Grid.treegrid('getSelections');
                    var num = rows.length;
                    if (num == 0) {
                        $.messager.alert('提示', '请选择一条记录进行操作!', 'info');
                        return;
                    }
                    else if (num > 1) {
                        $.messager.alert('提示', '您选择了多条记录,只能选择一条记录进行修改!', 'info');
                        return;
                    }
                    else {
                        addTab('Page-' + rows[0].ID_pag, '编辑页面信息-' + rows[0].Name_pag, '@Url.Content("~/sysadmin/pagesdetail/")' + rows[0].ID_pag, 'frame', 'icon icon-Page');
                    }
                }
            }, '-', {
                id: 'btnDelete_pag',
                text: '删除',
                iconCls: 'application_delete',
                handler: function () {
                    var ids = [];
                    var rows = Page_Grid.treegrid('getSelections');
                    for (var i = 0; i < rows.length; i++) {
                        ids.push(rows[i].ID_pag);
                    }
                    if (ids.length > 0) {
                        $.messager.confirm('提示信息', '您确认要删除吗?', function (data) {
                            if (data) {
                                $.ajax({
                                    url: 'Page.aspx?type=del&id=' + ids.join(','),
                                    type: 'GET',
                                    timeout: 1000,
                                    error: function () {
                                        $.messager.alert('错误', '删除失败!', 'error');
                                    },
                                    success: function (data) {
                                        if (data.success) Page_Grid.datagrid('reload');
                                        else $.messager.alert('错误', data.msg, 'error');
                                    }
                                });
                            }
                        });
                    } else {
                        $.messager.show({
                            title: '警告',
                            msg: '请先选择要删除的记录。'
                        });
                    }
                }
            }, '-', {
                id: 'btnRefresh_pag',
                text: '刷新',
                iconCls: 'refresh',
                handler: function () {
                    Page_Grid.treegrid('reload');
                }
            }
        ]
        });
    });
    </script>
    <div id="Page_Grid">
    </div>
