<?xml version="1.0" encoding="utf-8"?>
<entity>
  <setting type="sitesetting">
    <add text="禁止使用用户名" key="Protect" value="admin,mail,guest,pic,qq,www,friend,chat,img,blog,video,user,shop,mobile,china,city,sysadmin,msn,news,sex,fuck,系统,萝卜,管理员,江泽民,邓小平,胡锦涛,温家宝,公安局,政府,法轮功,台独,操,妈,一夜情,裸聊,做爱,性,淫,疆独,藏独,屄,屌,杀,强奸,抢劫,爆炸,炸弹,裸体,上床,一丝不挂,轮奸" />
    <add text="禁止使用的词" key="ProtectWord" value="江泽民,邓小平,胡锦涛,温家宝,公安局,政府,法轮功,台独,操,一夜情,裸聊,做爱,作爱,性交,淫,疆独,藏独,屄,屌,杀,强奸,抢劫,爆炸,炸弹,裸体,上床,一丝不挂" />
    <add text="网站名称" key="WebName" value="迪士尼童話世界" />
    <add text="网站大标题" key="WebKeyword" value="迪士尼童話世界" />
    <add text="网站小标题" key="WebDescription" value="ECO Software Internet Services" />
    <add text="网站URL" key="WebUrl" value="http://localhost:2442/" />
    <add text="网站ImagesURL" key="WebImageUrl" value="http://localhost:2442/images/" />
    <add text="网站CSSURL" key="WebCssUrl" value="http://localhost:2442/css/" />
    <add text="网站JsURL" key="WebJsUrl" value="http://localhost:2442/js/" />
    <add text="网站Domain" key="Domain" value="disneyphoto.com.tw" />
    <add text="网站邮件" key="WebMail" value="sales@disneyphoto.com.tw" />
    <add text="网站邮件密码" key="WebMailPass" value="lbhteaadmin" />
    <add text="公司名称" key="Company" value="迪士尼童話世界" />
    <add text="电话" key="WebTel" value="0592-2021601/2021603" />
    <add text="传真" key="WebTax" value="0592-5975702" />
    <add text="地址" key="Address" value="厦门市厦禾路820号帝豪大厦2203B" />
    <add text="备案号" key="ICP" value="闽ICP备10025448号" />
    <add text="关键字" key="keywords" value="迪士尼|迪士尼相片|迪士尼攝影|迪士尼圖片|迪士尼同學錄" />
    <add text="内容" key="description" value="迪士尼|迪士尼相片|迪士尼攝影|迪士尼圖片|迪士尼同學錄" />
    <add text="robots" key="robots" value="迪士尼|迪士尼相片|迪士尼攝影|迪士尼圖片|迪士尼同學錄" />
    <add text="description" key="description" value="迪士尼|迪士尼相片|迪士尼攝影|迪士尼圖片|迪士尼同學錄" />
    <add text="keywords" key="keywords" value="迪士尼|迪士尼相片|迪士尼攝影|迪士尼圖片|迪士尼同學錄" />
    <add text="generator" key="generator" value="迪士尼|迪士尼相片|迪士尼攝影|迪士尼圖片|迪士尼同學錄" />
    <add text="copyright" key="copyright" value="disneyphoto.com.tw" />
  </setting>
  <setting type="newstop">
    <add text="主页推荐" value="1" />
    <add text="资讯左测推荐" value="2" />
  </setting>
  <setting type="newselite">
    <add text="精华导读" value="1" />
  </setting>
  <setting type="producttop">
    <add text="主页推荐" value="1" />
  </setting>
  <setting type="productelite">
    <add text="精华导读" value="1" />
  </setting>
  <setting type="featured">
    <add text="asdf" key="featured0" value="/images/featured/img1.jpg" />
    <add text="内容1" key="featured1" value="/images/featured/img2.jpg" />
    <add text="内容2" key="featured2" value="/images/featured/img3.jpg" />
    <add text="内容3" key="featured3" value="/images/featured/img4.jpg" />
    <add text="内容4" key="featured4" value="/images/featured/img5.jpg" />
  </setting>
  <setting type="featuredsetting">
    <add text="宽" key="width" value="680" />
    <add text="高" key="height" value="300" />
  </setting>
</entity>