@model MC.Model.Info_inf
@{ViewBag.SelectedMenu = "News";}
        <div class="buttomcolumns">
            <div class="leftcolumn">
                @Html.Partial("_Industry")
            </div>
            <div class="contentcolumns">
                <h2><a href="@Url.Content("~/news.html")"><=News></a> > @Model.Title_inf</h2>
                @Html.Raw(Model.Content_inf)
            </div>
            <div class="clear"></div>
        </div>
