@using Unity.Mvc3.Helpers
@{ViewBag.SelectedMenu = "News";}
        <div class="buttomcolumns">
            <div class="leftcolumn">
                @Html.Partial("_Industry")
            </div>
            <div class="contentcolumns">
                <h2><=News></h2>
                <ul>
                @foreach (var item in ViewBag.Infos.rows)
                {
                    <li><a href="@Url.Content("~/news/detail-" + item.ID_inf + ".html")">@item.Title_inf</a></li>
                }
                </ul>
                <div class="pager">
                    @Html.Raw(Html.Pager((int)ViewBag.Infos.pageIndex, (int)ViewBag.Infos.pageSize, (int)ViewBag.Infos.total, (int)ViewBag.Infos.pageIndex))
                </div>
            </div>
            <div class="clear"></div>
        </div>
